/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 1);
  color: #e5e7eb;
}

.container {
  padding: 60px;
  text-align: center;
}

/* Title */
.title {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: black;
}

/* Description */
.description {
  font-size: 16px;
  color: #64748b;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

/* .btn {
  padding: 10px 22px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #30b868;
  
  transition: all 0.3s ease;
} */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 22px;
  background: #30b868;
  color: white;
  font-weight: bold;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #30b868;
  color: #020617;
  box-shadow: 0 0 15px #30b868;
}
.btn:hover img {
  transform: translateX(4px);
  transition: transform 0.3s ease;
}

.primary-btn {
  background-color: #22c55e;
  border: 2px solid #22c55e;
  color: #020617;
}

.primary-btn:hover {
  background-color: #16a34a;
  box-shadow: 0 0 20px #22c55e;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
}

.secondary-btn:hover {
  background-color: #e5e7eb;
  color: #020617;
}

/* Navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

.nav-logo img {
  height: 42px;
  width: auto;
  display: block;
  cursor: pointer;
}

.nav-logo img:hover {
  opacity: 0.85;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
}

/* Banner section css */
.banner {
  position: relative;
  height: 90vh;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-overlay {
  position: absolute;
  inset: 0;
}

.banner-content {
  position: relative;
  max-width: 900px;
  padding: 0 60px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  font-size: 14px;
  background-color: rgba(56, 189, 248, 0.15);
  color: #22c55e;
  border-radius: 20px;
}

.banner-badge::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #22c55e;
  border-radius: 50%;
  box-shadow: 0 0 8px #22c55e;
}

.banner-content h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.banner-content h1 span {
  color: #22c55e;
}

.banner-content p {
  font-size: 18px;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #cbd5f5;
}

.banner-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Note section css */
.notes {
  padding: 100px 60px;
  background-color: #ffffff;
  text-align: center;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.note-card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(2, 6, 23, 0.08);
  transition: 0.3s ease;
}

.note-icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #f95555;
  color: #f95555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.note-card h3 {
  font-size: 18px;
  color: #020617;
  margin-bottom: 10px;
}

.note-card p {
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}

/* Second brain section css */

.second-brain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 60px;
  background-color: #ffffff;
  margin: 0 auto;
  gap: 40px;
}

/* Left Image */
.second-brain-left {
  flex: 1 1 400px;
}

.second-brain-left img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Right Text */
.second-brain-right {
  flex: 1 1 400px;
}

.highlight-text {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #22c55e;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* Checklist */
.checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checklist li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: black;
}

.checklist li img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

/* Early Access section css */
.early-access {
  background: #ffffff;
  text-align: center;
}

.early-access-container {
  padding: 80px 20px;
  background: #f7f6f2;
  max-width: 92%;
  margin: 0 auto;
}

/* Button icon */
.early-access-btn img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

/* Bottom Meta Text */
.early-access-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #9ca3af;
}

.early-access-meta .dot {
  font-size: 18px;
  line-height: 1;
}

/* Footer section css */
.app-footer {
  background-color: #0f172a;
  color: #e5e7eb;
  padding: 60px 20px 30px;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/*Footer Social section */
.footer-social h4 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #1e293b;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.social-icons a img {
  width: 18px;
  height: 18px;
}

/* Divider */
.footer-divider {
  border: none;
  border-top: 1px solid #334155;
  margin: 40px 0 20px;
}

/* Bottom footer */
.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
}
