* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgba(255, 255, 255, 1);
  color: #e5e7eb;
}

.container {
  padding: 60px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

.nav-logo img {
  height: 42px;
  width: auto;
  display: block;
  cursor: pointer;
}

.nav-logo img:hover {
  opacity: 0.85;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
}

.btn {
  padding: 10px 22px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #30b868;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #30b868;
  color: #020617;
  box-shadow: 0 0 15px #30b868;
}

.banner {
  position: relative;
  height: 90vh;
  background-image: url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(2, 6, 23, 0.75);
}

.banner-content {
  position: relative;
  max-width: 900px;
  padding: 0 60px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;    
  padding: 6px 14px;
  font-size: 14px;
  background-color: rgba(56, 189, 248, 0.15);
  color: #22c55e;
  border-radius: 20px;
}

.banner-badge::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #22c55e;     
  border-radius: 50%;
  box-shadow: 0 0 8px #22c55e;   
}


.banner-content h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.banner-content h1 span {
  color: #22c55e;
}

.banner-content p {
  font-size: 18px;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #cbd5f5;
}


.banner-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.banner-buttons-a {
  display: flex;
  align-items: center;
  gap: 2px;
}

.primary-btn {
  background-color: #22c55e;
  border: 2px solid #22c55e;
  color: #020617;
}

.primary-btn:hover {
  background-color: #16a34a;
  box-shadow: 0 0 20px #22c55e;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
}

.secondary-btn:hover {
  background-color: #e5e7eb;
  color: #020617;
}

.notes {
  padding: 100px 60px;
  background-color: #ffffff;
  text-align: center;
}

.notes-header h2 {
  font-size: 42px;
  color: #020617;
  margin-bottom: 12px;
}

.notes-header p {
  font-size: 16px;
  color: #64748b;
  max-width: 700px;
  margin: 0 auto 60px;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.note-card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(2, 6, 23, 0.08);
  transition: 0.3s ease;
}

.note-icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-color: #F95555;
  color: #F95555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.note-card h3 {
  font-size: 18px;
  color: #020617;
  margin-bottom: 10px;
}

.note-card p {
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}
